<div class="pt-6 px-0 md:px-4 sm:px-6 lg:px-8">
    <nav class="relative flex items-center justify-between sm:h-10 lg:justify-between">
        <div class="flex items-center flex-grow flex-shrink-0 lg:flex-grow-0">
            <div class="flex items-center justify-between w-full md:w-auto">
                <a href="/">
                    <img class="h-10 w-auto fixed transition-opacity duration-200"
                        :class="{ 'opacity-0': onTop, 'opacity-100': !onTop }" style="top: 1.5rem" src="/assets/img/logo.svg" alt="" />
                    <img class="h-10 w-auto fixed transition-opacity duration-200 z-50"
                        :class="{ 'opacity-100': onTop, 'opacity-0': !onTop }" style="top: 1.5rem" src="/assets/img/logo-white.svg" alt="" />
                </a>
                <div class="-mr-2 flex items-center md:hidden">
                    <button @click="open = true" type="button"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-200 ease-in-out">
                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M4 6h16M4 12h16M4 18h16" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
        <div id="menu-lg" class="hidden md:block"
            :class="{ 'text-black' : !onTop, 'text-white' : onTop }">
            {% for menu in site.data.nav %}
            <a href="{{ menu.link }}"
                class="font-medium inline-block p-2 rounded {% if menu.link == page.url %} bg-red-900 text-white {% endif %} hover:text-gray-900 hover:bg-gray-100 hover:shadow focus:outline-none focus:text-gray-900 duration-200 ease-in-out">
                {{ menu.name }}
            </a>
            {% endfor %}
            <!-- <a href="/"
                            class="font-medium text-indigo-600 hover:text-indigo-900 focus:outline-none focus:text-indigo-700 transition duration-150 ease-in-out">Log
                            in</a> -->
        </div>
    </nav>
</div>