<div x-show="open" x-transition:enter="duration-150 ease-out" x-transition:enter-start="opacity-0 scale-95"
    x-transition:enter-end="opacity-100 scale-100" x-transition:leave="duration-100 ease-in"
    x-transition:leave-start="opacity-100 scale-100" x-transition:leave-end="opacity-0 scale-95"
    class="absolute top-0 inset-x-0 p-2 transition transform origin-top-right md:hidden z-50">
    <div class="rounded-lg shadow-md bg-white">
        <div class="rounded-lg shadow-xs overflow-hidden transition-colors duration-200">
            <div class="px-5 pt-4 flex items-center justify-between">
                <div>
                    <img class="h-8 w-auto" src="/assets/img/logo.svg" alt="" />
                </div>
                <div class="-mr-2">
                    <button @click="open = false" type="button"
                        class="inline-flex items-center justify-center p-2 rounded-md text-gray-400 hover:text-gray-500 hover:bg-gray-100 focus:outline-none focus:bg-gray-100 focus:text-gray-500 transition duration-150 ease-in-out">
                        <svg class="h-6 w-6" stroke="currentColor" fill="none" viewBox="0 0 24 24">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>
                </div>
            </div>
            <div id="#menu-sm" class="px-2 pt-2 pb-3">
                {% for menu in site.data.nav %}
                <a href="{{ menu.link }}"
                    class="block px-3 py-2 rounded-md text-base font-medium {% if menu.link == page.url %} text-red-700 {% else %} text-gray-700 {% endif %} hover:text-red-500 hover:bg-gray-50 focus:outline-none focus:text-gray-900 focus:bg-gray-50 transition duration-150 ease-in-out">
                    {{ menu.name }}
                </a>
                {% endfor %}
            </div>
            <div>
                <!-- <a href="#"
                    class="block w-full px-5 py-3 text-center font-medium text-indigo-600 bg-gray-50 hover:bg-gray-100 hover:text-indigo-700 focus:outline-none focus:bg-gray-100 focus:text-indigo-700 transition duration-150 ease-in-out">
                    Log in
                </a> -->
            </div>
        </div>
    </div>
</div>